/*PALETA DE COLORES*/
/* Menu Hamburguesa*/
/* Index */
/* Botones */
/* Patitos */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.centrar, .index .productos .t_img, .index .productos .s_img, .index .productos .p_img, .pagina footer .info_3, .pagina footer .info_2, .pagina footer .info_1, .pagina footer h2 {
  justify-self: center;
  align-self: center;
}

.pagina {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr 200px;
  grid-template-areas: "header" "main" "footer";
  background-color: rgb(238, 194, 76);
}
.pagina header {
  grid-area: header;
  display: grid;
  grid-template-columns: 50px 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "nav titulo titulo titulo";
  /*Fin de menu hamburguesa*/
  margin-bottom: 20px;
  background-color: rgb(202, 144, 69);
}
.pagina header nav {
  grid-area: nav;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* Comienzo de menu hamburguesa*/
}
.pagina header nav #menu {
  display: none;
}
.pagina header nav #menu:checked ~ .navegador {
  height: 116%;
  width: 35vw;
  border-top-right-radius: 20px;
  border: 2px solid black;
}
.pagina header nav #menu:checked ~ .navegador li {
  display: block;
}
.pagina header nav .btn {
  font-size: 50px;
  color: white;
  margin-left: 20px;
  cursor: pointer;
}
.pagina header nav .navegador {
  position: absolute;
  left: 0px;
  width: 10px;
  height: 0vh;
  top: 80px;
  background-color: rgba(49, 49, 49, 0.466);
  text-align: center;
  transition: all 0.9s;
}
.pagina header nav .navegador li {
  display: none;
  line-height: 30px;
  margin: 40px 0;
  transition: all 3s;
  background-color: rgba(255, 255, 255, 0.521);
}
.pagina header nav .navegador li a {
  color: black;
  font-size: 1rem;
  font-weight: 600;
}
.pagina header nav .navegador li a:hover {
  color: rgb(216, 12, 12);
  transition: all 1s;
}
.pagina header h1 {
  grid-area: titulo;
  text-align: center;
  align-self: center;
  font-size: 3.5rem;
}
.pagina main {
  grid-area: main;
}
.pagina footer {
  grid-area: footer;
  margin-top: 20px;
  padding-block: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30px repeat(3, 1fr);
  grid-template-areas: "titulo" "info_1" "info_2" "info_3";
  background-color: rgb(202, 144, 69);
}
.pagina footer h2 {
  grid-area: titulo;
  font-size: 2rem;
}
.pagina footer .info_1 {
  grid-area: info_1;
  font-size: 1.3rem;
}
.pagina footer .info_2 {
  grid-area: info_2;
  font-size: 1.3rem;
}
.pagina footer .info_3 {
  grid-area: info_3;
  font-size: 1.3rem;
}

.index {
  margin-inline: 80px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr;
  gap: 5px;
  grid-template-areas: "titulo" "productos";
  background-color: rgb(255, 226, 156);
  border: 3px solid rgb(223, 198, 137);
}
.index h2 {
  grid-area: titulo;
  font-size: 2rem;
  text-align: center;
  align-self: center;
}
.index .productos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "p_img" "s_img" "t_img";
}
.index .productos .p_img {
  grid-area: p_img;
}
.index .productos .p_img h3 {
  text-align: center;
  font-size: 1.8rem;
  text-decoration: underline;
  padding-block: 20px;
}
.index .productos .s_img {
  grid-area: s_img;
}
.index .productos .s_img h3 {
  text-align: center;
  font-size: 1.8rem;
  text-decoration: underline;
  padding-block: 20px;
}
.index .productos .t_img {
  grid-area: t_img;
}
.index .productos .t_img h3 {
  text-align: center;
  font-size: 1.8rem;
  text-decoration: underline;
  padding-block: 20px;
}

.boton, .patitos div.botones #b4, .patitos div.botones #b3, .patitos div.botones #b2, .patitos div.botones #b1 {
  text-align: center;
  background-color: rgb(222, 184, 135);
  color: black;
  padding: 10%;
  font-size: 1.3rem;
  border: 1px solid rgb(163, 135, 97);
  border-radius: 50%;
}

.imagen, .patitos .imagenes #red .img_2, .patitos .imagenes #red .img_1, .patitos .imagenes #red .portada, .patitos .imagenes #yellow .img_3, .patitos .imagenes #yellow .img_2, .patitos .imagenes #yellow .img_1, .patitos .imagenes #yellow .portada, .patitos .imagenes #white .img_4, .patitos .imagenes #white .img_3, .patitos .imagenes #white .img_2, .patitos .imagenes #white .img_1, .patitos .imagenes #white .portada, .patitos .imagenes #black .img_4, .patitos .imagenes #black .img_3, .patitos .imagenes #black .img_2, .patitos .imagenes #black .img_1, .patitos .imagenes #black .portada {
  width: 100%;
  height: 100%;
  padding: 1px;
  background-color: black;
  border-radius: 20px;
}

.animacion, .patitos .imagenes #red .img_2:hover, .patitos .imagenes #red .img_1:hover, .patitos .imagenes #yellow .img_3:hover, .patitos .imagenes #yellow .img_2:hover, .patitos .imagenes #yellow .img_1:hover, .patitos .imagenes #white .img_4:hover, .patitos .imagenes #white .img_3:hover, .patitos .imagenes #white .img_2:hover, .patitos .imagenes #white .img_1:hover, .patitos .imagenes #black .img_4:hover, .patitos .imagenes #black .img_3:hover, .patitos .imagenes #black .img_2:hover, .patitos .imagenes #black .img_1:hover {
  z-index: 1;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;
  transition: all 3s;
}

.fondo, .patitos .imagenes #red, .patitos .imagenes #yellow, .patitos .imagenes #white, .patitos .imagenes #black {
  background-color: rgb(202, 144, 69);
  border: 2px solid rgb(153, 108, 49);
  margin: 10px 40px;
}

.patitos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr;
  gap: 5px;
  grid-template-areas: "botones" "imagenes";
}
.patitos div.botones {
  grid-area: botones;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "b_1 b_2 b_3 b_4";
  padding: 10px;
  gap: 5px;
  align-self: center;
}
.patitos div.botones #b1 {
  grid-area: b_1;
}
.patitos div.botones #b2 {
  grid-area: b_2;
}
.patitos div.botones #b3 {
  grid-area: b_3;
}
.patitos div.botones #b4 {
  grid-area: b_4;
}
.patitos .imagenes {
  grid-area: imagenes;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "b" "w" "y" "r";
}
.patitos .imagenes #black {
  grid-area: b;
  display: grid;
  justify-self: center;
  align-self: center;
  margin-inline: 10%;
  gap: 15px;
  grid-template-columns: 10px 1fr 1fr 10px;
  grid-template-rows: 10px 5fr 3fr 3fr 10px;
  grid-template-areas: ". . . ." ". portada portada ." ". img_1 img_2 ." ". img_3 img_4 ." ". . . .";
}
.patitos .imagenes #black .portada {
  grid-area: portada;
}
.patitos .imagenes #black .img_1 {
  grid-area: img_1;
}
.patitos .imagenes #black .img_2 {
  grid-area: img_2;
}
.patitos .imagenes #black .img_3 {
  grid-area: img_3;
}
.patitos .imagenes #black .img_4 {
  grid-area: img_4;
}
.patitos .imagenes #white {
  grid-area: w;
  display: grid;
  justify-self: center;
  align-self: center;
  margin-inline: 10%;
  gap: 15px;
  grid-template-columns: 10px 1fr 1fr 10px;
  grid-template-rows: 10px 5fr 3fr 3fr 10px;
  grid-template-areas: ". . . ." ". portada portada ." ". img_1 img_2 ." ". img_3 img_4 ." ". . . .";
}
.patitos .imagenes #white .portada {
  grid-area: portada;
}
.patitos .imagenes #white .img_1 {
  grid-area: img_1;
}
.patitos .imagenes #white .img_2 {
  grid-area: img_2;
}
.patitos .imagenes #white .img_3 {
  grid-area: img_3;
}
.patitos .imagenes #white .img_4 {
  grid-area: img_4;
}
.patitos .imagenes #yellow {
  grid-area: y;
  display: grid;
  justify-self: center;
  align-self: center;
  margin-inline: 10%;
  gap: 15px;
  grid-template-columns: 10px 1fr 1fr 10px;
  grid-template-rows: 10px 5fr 3fr 3fr 10px;
  grid-template-areas: ". . . ." ". portada portada ." ". img_1 img_2 ." ". img_3 img_3 ." ". . . .";
}
.patitos .imagenes #yellow .portada {
  grid-area: portada;
}
.patitos .imagenes #yellow .img_1 {
  grid-area: img_1;
}
.patitos .imagenes #yellow .img_2 {
  grid-area: img_2;
}
.patitos .imagenes #yellow .img_3 {
  grid-area: img_3;
  width: 50%;
  height: 100%;
  justify-self: center;
}
.patitos .imagenes #yellow .img_3:hover {
  width: 100%;
}
.patitos .imagenes #red {
  grid-area: r;
  display: grid;
  justify-self: center;
  align-self: center;
  margin-inline: 10%;
  gap: 15px;
  grid-template-columns: 10px 1fr 1fr 10px;
  grid-template-rows: 10px 5fr 3fr 3fr 10px;
  grid-template-areas: ". . . ." ". portada portada ." ". img_1 img_2 ." ". img_1 img_2 ." ". . . .";
}
.patitos .imagenes #red .portada {
  grid-area: portada;
}
.patitos .imagenes #red .img_1 {
  grid-area: img_1;
}
.patitos .imagenes #red .img_2 {
  grid-area: img_2;
}

/*# sourceMappingURL=style.css.map */
