
@media screen and (min-width:768px){
    .pagina{
        width: 100%;
        height:100%;
    }
            /* Media del layout*/
    header{
        grid-template-columns: 1fr 3fr !important;
        padding-inline: 10%;
        .btn{
            display: none;
        }
        h1{
            grid-area: nav!important;
        }
        nav{
            grid-area: titulo!important;
        }
        .navegador{
            position: relative !important;
            height: 100px !important;
            top: 0 !important;
            right: 0 !important;
            background: none !important;
            transition: none !important;
            text-align: right !important;
            margin-right: 50px !important;
            li{
                display:inline !important;
                line-height: 100px !important;
                margin: 0 20px !important;
                transition: none !important;
                background: none !important;
                a{
                    font-size: 1.5rem !important;
                }
        }
    }
}
            /* Media del Index*/
    .index{
        h2{
            font-size: 3rem;
        }
        .productos{
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: "p_img s_img t_img";
            h3{
                font-size: 2rem;
            }
        }
        padding-block: 5%;
    }
            /* Media de Patitos*/
    .patitos{
        div.botones{
            padding: 8%;
            gap: 25px;
            #b1,#b2,#b3,#b4{
                padding:15px 20px;
                border-radius: 150%;
            }
        }
        .imagenes{
            padding-block: 20px;
            gap: 15px;
            #black,#white,#yellow{
                height: 100%;
                grid-template-columns: 10px 2fr 1fr 1fr 10px;
                grid-template-rows: 10px 1fr 1fr 10px;
                grid-template-areas:
                ". . . . ."
                ". portada img_1 img_2 ."
                ". portada img_3 img_4 ."
                ". . . . .";
                .img_1 , .img_2 , .img_3 , .img_4{
                    &:hover{
                        grid-column-start: 3;
                        grid-column-end: 5;
                        grid-row-start:2 ;
                        grid-row-end:4 ;
                    }
                    &:hover ~ .cod_1{
                        grid-column-start: 3;
                        grid-column-end: 5;
                        grid-row-start:2 ;
                        grid-row-end:4 ;
                    }
                    &:hover ~ .cod_2{
                        grid-column-start: 3;
                        grid-column-end: 5;
                        grid-row-start:2 ;
                        grid-row-end:4 ;
                    }
                    &:hover ~ .cod_3{
                        grid-column-start: 3;
                        grid-column-end: 5;
                        grid-row-start:2 ;
                        grid-row-end:4 ;
                    }
                    &:hover ~ .cod_4{
                        grid-column-start: 3;
                        grid-column-end: 5;
                        grid-row-start:2 ;
                        grid-row-end:4 ;
                    }
                }
            }
            #red{
                height: 100%;
                grid-template-columns: 10px 2fr 1fr 1fr 10px;
                grid-template-rows: 10px 1fr 10px;
                grid-template-areas:
                ". . . . ."
                ". portada img_1 img_2 ."
                ". . . . .";
                .img_1 , .img_2{
                    &:hover{
                        grid-column-start: 3;
                        grid-column-end: 5;
                        grid-row-start:2 ;
                        grid-row-end:4 ;
                    }
                    &:hover ~ .cod_1{
                        grid-column-start: 3;
                        grid-column-end: 5;
                        grid-row-start:2 ;
                        grid-row-end:4 ;
                    }
                    &:hover ~ .cod_2{
                        grid-column-start: 3;
                        grid-column-end: 5;
                        grid-row-start:2 ;
                        grid-row-end:4 ;
                    }
                }
            }
        }
    }
}