
        /*Extensiones*/

.boton{
    text-align: center;
    background-color: $boton;
    color: $color_letra_boton;
    padding: 10%;
    font-size: 1.3rem;
    border: 1px solid $borde_boton;
    border-radius: 50%;
}

.codigo{
    justify-self: center;
    align-self:flex-end;
    z-index: -1;
}

.animacion_codigo{
    transition: all 0s;
    z-index: 2;
    background-color: $fondo_codigo;
    text-align: center;
    width: 100%;
    color: white;
    border-end-end-radius: 20px;
    border-bottom-left-radius: 20px;
}

.imagen {
    width: 100%;
    height: 100%;
    padding: 1px;
    background-color: $borde_imagenes_patos;
    border-radius: 20px;
}

.animacion {
    z-index: 1;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
}

.fondo{
    background-color: $fondo_patos;
    border: 2px solid $borde_fondo_patos;
    margin: 10px 40px;
}

        /*Fin Extensiones*/


.patitos{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    gap: 5px;
    grid-template-areas: "botones" "imagenes";
    div.botones{
        grid-area: botones;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "b_1 b_2 b_3 b_4";
        padding:10px;
        gap: 5px;
        align-self: center;
        #b1{
            grid-area: b_1;
            @extend .boton;
        }
        #b2{
            grid-area: b_2;
            @extend .boton;
        }
        #b3{
            grid-area: b_3;
            @extend .boton;
        }
        #b4{
            grid-area: b_4;
            @extend .boton;
        }
    }
    .imagenes{
        grid-area: imagenes;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "b"
        "w"
        "y"
        "r";
        #black{
            grid-area: b;
            display: grid;
            justify-self: center;
            align-self: center;
            margin-inline: 10%;
            gap: 15px;
            grid-template-columns: 10px 1fr 1fr 10px;
            grid-template-rows: 10px 5fr 3fr 3fr 10px;
            grid-template-areas:
            ". . . ." 
            ". portada portada ."
            ". img_1 img_2 ."
            ". img_3 img_4 ."
            ". . . .";
            .portada{
                grid-area: portada;
                @extend .imagen;
            }
            .img_1{
                grid-area: img_1;
                @extend .imagen;
                &:hover{
                    @extend .animacion;
                }
                &:hover ~ .cod_1{
                    @extend .animacion;
                    @extend .animacion_codigo;
                }
            }
            .cod_1{
                grid-area: img_1;
                @extend .codigo;
            }
            .img_2{
                grid-area: img_2;
                @extend .imagen;
                &:hover{
                    @extend .animacion;
                }
                &:hover ~ .cod_2{
                    @extend .animacion;
                    @extend .animacion_codigo;
                }
            }
            .cod_2{
                grid-area: img_2;
                @extend .codigo;
            }
            .img_3{
                grid-area: img_3;
                @extend .imagen;
                &:hover{
                    @extend .animacion;
                }
                &:hover ~ .cod_3{
                    @extend .animacion;
                    @extend .animacion_codigo;
                }
            }
            .cod_3{
                grid-area: img_3;
                @extend .codigo;
            }
            .img_4{
                grid-area: img_4;
                @extend .imagen;
                &:hover{
                    @extend .animacion;
                }
                &:hover ~ .cod_4{
                    @extend .animacion;
                    @extend .animacion_codigo;
                }
            }
            .cod_4{
                grid-area: img_4;
                @extend .codigo;
            }
            @extend .fondo;
        }
        #white{
            grid-area: w;
            display: grid;
            justify-self: center;
            align-self: center;
            margin-inline: 10%;
            gap: 15px;
            grid-template-columns: 10px 1fr 1fr 10px;
            grid-template-rows: 10px 5fr 3fr 3fr 10px;
            grid-template-areas:
            ". . . ." 
            ". portada portada ."
            ". img_1 img_2 ."
            ". img_3 img_4 ."
            ". . . .";
            .portada{
                grid-area: portada;
                @extend .imagen;
            }
            .img_1{
                grid-area: img_1;
                @extend .imagen;
                &:hover{
                    @extend .animacion;
                }
                &:hover ~ .cod_1{
                    @extend .animacion;
                    @extend .animacion_codigo;
                }
            }
            .cod_1{
                grid-area: img_1;
                @extend .codigo;
            }
            .img_2{
                grid-area: img_2;
                @extend .imagen;
                &:hover{
                    @extend .animacion;
                }
                &:hover ~ .cod_2{
                    @extend .animacion;
                    @extend .animacion_codigo;
                }
            }
            .cod_2{
                grid-area: img_2;
                @extend .codigo;
            }
            .img_3{
                grid-area: img_3;
                @extend .imagen;
                &:hover{
                    @extend .animacion;
                }
                &:hover ~ .cod_3{
                    @extend .animacion;
                    @extend .animacion_codigo;
                }
            }
            .cod_3{
                grid-area: img_3;
                @extend .codigo;
            }
            .img_4{
                grid-area: img_4;
                @extend .imagen;
                &:hover{
                    @extend .animacion;
                }
                &:hover ~ .cod_4{
                    @extend .animacion;
                    @extend .animacion_codigo;
                }
            }
            .cod_4{
                grid-area: img_4;
                @extend .codigo;
            }
            @extend .fondo;
        }
        #yellow{
            grid-area: y;
            display: grid;
            justify-self: center;
            align-self: center;
            margin-inline: 10%;
            gap: 15px;
            grid-template-columns: 10px 1fr 1fr 10px;
            grid-template-rows: 10px 5fr 3fr 3fr 10px;
            grid-template-areas:
            ". . . ." 
            ". portada portada ."
            ". img_1 img_2 ."
            ". img_3 . ."
            ". . . .";
            .portada{
                grid-area: portada;
                @extend .imagen;
            }.img_1{
                grid-area: img_1;
                @extend .imagen;
                &:hover{
                    @extend .animacion;
                }
                &:hover ~ .cod_1{
                    @extend .animacion;
                    @extend .animacion_codigo;
                }
            }
            .cod_1{
                grid-area: img_1;
                @extend .codigo;
            }
            .img_2{
                grid-area: img_2;
                @extend .imagen;
                &:hover{
                    @extend .animacion;
                }
                &:hover ~ .cod_2{
                    @extend .animacion;
                    @extend .animacion_codigo;
                }
            }
            .cod_2{
                grid-area: img_2;
                @extend .codigo;
            }
            .img_3{
                grid-area: img_3;
                @extend .imagen;
                &:hover{
                    @extend .animacion;
                    width: 100%;
                }
                &:hover ~ .cod_3{
                    @extend .animacion;
                    @extend .animacion_codigo;
                }
            }
            .cod_3{
                grid-area: img_3;
                @extend .codigo;
            }
            @extend .fondo;
        }
        #red{
            grid-area: r;
            display: grid;
            justify-self: center;
            align-self: center;
            margin-inline: 10%;
            gap: 15px;
            grid-template-columns: 10px 1fr 1fr 10px;
            grid-template-rows: 10px 40% 20% 20% 10px;
            grid-template-areas:
            ". . . ." 
            ". portada portada ."
            ". img_1 img_2 ."
            ". img_1 img_2 ."
            ". . . .";
            .portada{
                grid-area: portada;
                @extend .imagen;
            }
            .img_1{
                grid-area: img_1;
                @extend .imagen;
                &:hover{
                    @extend .animacion;
                }
                &:hover ~ .cod_1{
                    @extend .animacion;
                    @extend .animacion_codigo;
                }
            }
            .cod_1{
                grid-area: img_1;
                @extend .codigo;
            }
            .img_2{
                grid-area: img_2;
                @extend .imagen;
                &:hover{
                    @extend .animacion;
                }
                &:hover ~ .cod_2{
                    @extend .animacion;
                    @extend .animacion_codigo;
                }
            }
            .cod_2{
                grid-area: img_2;
                @extend .codigo;
            }
            @extend .fondo;
        }
    }
}