        /*PALETA DE COLORES*/

/* Menu Hamburguesa*/
$borde_menu:black;
$fondo_letras:white;
$fondo_menu:rgba(49, 49, 49, 0.466);
$color_letras_menu:black;
$color_letra_animacion:rgb(216, 12, 12);

/* Index */
$base: rgb(238, 194, 76);
$sombra: rgb(255, 226, 156);
$borde: rgb(223, 198, 137);

/* Botones */
$boton:rgb(222, 184, 135);
$borde_boton:rgb(163, 135, 97);
$color_letra_boton:black;

/* Patitos */
$fondo_patos:rgb(202, 144, 69);
$borde_fondo_patos:rgb(153, 108, 49);
$borde_imagenes_patos:black;
$fondo_codigo:black;